@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color:  rgb(158, 121, 0);
  --primary-color-darker: rgb(68, 57, 23);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 10PX;
  background: #fff;
  border-radius: 10px;
}

.tabela {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

h1 {
  text-align: center;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}
form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}
form button:hover {
  background: var(--primary-color-darker);
}

form button:active {
  background: rgb(7, 204, 73);
}

.paragrafo-resultado {
  color: #fff;
  background: rgb(7, 204, 73);
  padding: 10px 20px;
}
.paragrafo-resultado-bad {
  color: #fff;
  background: rgb(247, 6, 6);
  padding: 10px 20px;
}